* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 60px auto 60px;
  height: 100vh;
}

h1 {
  text-align: center;
  border: 1px solid black;
  height: 60px;
  margin: 0;
}

main {
  border: 1px solid black;
  overflow-y: auto;
  height: 100%;
  display: grid;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.nav-icon {
  height: 50px;
}
