* {
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
}

body {
  display: grid;
  grid-template-rows: 60px auto 60px;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
  border: 1px solid black;
  height: 60px;
  margin: 0;
  background-color: blue;
  color: #ccc;
}

main {
  border: 1px solid black;
  overflow-y: auto;
  height: 100%;
  display: grid;
  gap: 20px;
  padding: 20px;
}

.card {
  margin: 0 10px;
  padding: 20px;
  border: 1px solid black;
  background-color: blue;
  color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

.card__bookmark{
  position: absolute;
  top: -8px;
  right: 10px;
  height: 40px;
  margin: 0;
}

.card__text {
  text-align: center;
}

.card__button {
  padding: 10px 20px;
  margin-bottom: 5px;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.nav-icon {
  height: 50px;
}

.profile-header {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.profile-header__image {
  border-radius: 50%;
}
